<% provide(:title, 'All users') %>

<div class="row mt-2">
  <h1>All users</h1>

  <div class="col mb-2">
    <% if current_user.admin? %>
      <%= link_to "Add new admin", new_admin_path %> |
    <% end %>

    <%= link_to "Add new student", new_user_path %>
  </div>

  <%= will_paginate %>

  <ul class="users">
    <%= render @users %>
  </ul>

  <%= will_paginate %>
</div>
