<%= turbo_frame_tag dom_id(@video), loading: "lazy" do %>
  <ul class="list">
    <% @video.notes(current_user).each do |note| %>
      <%= render 'videos/video_note', video_note: note %>
    <% end %>
  </ul>
<% end %>

<%= form_for([@video.notes(current_user).build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :video_id, value: @video.id %>

  <div class="field">
    <%= f.text_area :note, placeholder: "Type your notes here..." %>
  </div>
  <%= f.submit "Add note", class: "btn btn-primary" %>
<% end %>
