<ul>
  <% @video.notes(current_user).each do |note| %>
    <li class="note"><%= note.note %> <%= link_to "edit", edit_video_note_path(note) %> | <%= link_to "delete", note, method: :delete, data: { confirm: "You sure?" } %> </li>
  <% end %>
</ul>

<%= form_for([@video.notes(current_user).build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :video_id, value: @video.id %>

  <div class="field">
    <%= f.text_area :note, placeholder: "Add a note..." %>
  </div>
  <%= f.submit "Add note", class: "btn btn-primary" %>
<% end %>


<script>
  $(document).ready(function () {
    $('.note').each(function () {
      // Extract time from the text content of the note
      var noteText = $(this).html();
      var time = extractTime(noteText);

      if (time === '-') {
        return;
      }

      // Skip if text already contains `video-link` class
      if (noteText.indexOf('video-link') !== -1) {
        return;
      }

      // Generate a link with the extracted time
      link = '<a class="video-link" href="#" data-time="' + time + '">' + time + '</a>';

      // Replace the time in the note with a link
      noteText = noteText.replace(time, link);

      // Replace the text content of the note with the link
      $(this).html(noteText);
    });

    // Handle click event on the generated links
    $('.video-link').on('click', function (e) {
      e.preventDefault();
      // Get the time from the data-time attribute of the clicked link
      var time = $(this).data('time');
      // Split minutes and seconds
      var [minutes, seconds] = time.split(':');
      // Convert to seconds
      var totalTime = parseInt(minutes) * 60 + parseInt(seconds);
      // Set the current time of the video
      $('#video-player')[0].currentTime = totalTime;
    });

    // Function to extract time from note text
    function extractTime(text) {
      // Regular expression to match MM:SS format
      var regex = /(\d{2}):(\d{2})/;
      var match = text.match(regex);
      if (match) {
        return match[0];
      } else {
        // Return a default time if no match is found
        return '-';
      }
    }
  });
</script>