<ul>
  <% @video.notes(current_user).each do |note| %>
    <li class="note"><%= note.note %> <%= link_to "Edit", edit_video_note_path(note) %> | <%= link_to "Delete", note, method: :delete, data: { confirm: "You sure?" } %> </li>
  <% end %>
</ul>

<%= form_for([@video.notes(current_user).build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :video_id, value: @video.id %>

  <div class="field">
    <%= f.text_area :note, placeholder: "Add a note..." %>
  </div>
  <%= f.submit "Add note", class: "btn btn-primary" %>
<% end %>