<% provide(:title, 'Edit video') %>
<h1>Edit video</h1>

<%= form_with(model: @video, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Description" %>
  </div>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

