<% provide(:title, @video.title) %>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <%= link_to "back", videos_path %>

      <h3 class="center"><%= @video.title %></h3>
    </div>
    <div class="col-md-6">
      <section class="video">
        <% if @video.user == current_user %>
          <%= link_to "edit", edit_video_path(@video) %> | <%= link_to "delete", @video, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
        <div class="video">
           <% if @video.video.attached? %>
            <%= video_tag url_for(@video.video), controls: true, id: "video-player" %>
          <% end %>
        </div>
        <span class="description" style="color:grey"><%= @video.content %></span>
      </section>
    </div>
    <div class="col-md-6">
      <section class="notes">
        <h4>My Notes</h4>

        <% if @video.notes(current_user).empty? %>
          <p>You have no notes for this video.</p>
        <% end %>

        <%= render partial: "video_notes" %>
      </section>
    </div>
  </div>
</div>
