<% provide(:title, @video.title) %>

<div class="row">
  <article>
    <header class="mb-4">
      <h1 class="text-bold mb-1"><%= @video.title %></h1>

      <div class="text-muted mb-5">
        Posted <%= time_ago_in_words(@video.created_at) %> ago by <span class="text-decoration-underline"><%= @video.user.name %></span>.

        <% if current_user?(@video.user) %>
          <%= link_to "Edit", edit_video_path(@video) %> | <%= link_to "Delete", @video, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </div>
    </header>

    <figure class="mb-4">
      <div class="row">
        <div class="col-lg-8">
          <section class="videos">
            <% if @video.video.attached? %>
              <%= video_tag url_for(@video.video), width: "720", controls: true, id: "video-player" %>
            <% end %>
          </section>
        </div>
        <div class="col-lg-4">
          <section class="notes">
            <h4>My Notes</h4>

            <% if @video.notes(current_user).empty? %>
              <p>You have no notes for this video.</p>
            <% end %>

            <%= render partial: "video_notes" %>
          </section>
          </div>
        </div>
    </figure>

    <section class="mb-4">
        <%= @video.content %>
    </section>
  </article>
</div>