<% provide(:title, @video.title) %>

<div class="row mt-2">
  <article>
    <header class="mb-2">
      <h1 class="text-bold mb-1"><%= @video.title %></h1>

      <div class="text-muted mb-4">
        Posted <%= time_ago_in_words(@video.created_at) %> ago by <span class="text-decoration-underline"><%= @video.user.name %></span>.

        <% if current_user?(@video.user) %>
          <%= link_to "Edit", edit_video_path(@video) %> | <%= link_to "Delete", @video, data: { turbo_confirm: "You sure?", "turbo-method": :delete } %>
        <% end %>
      </div>
    </header>

    <figure class="mb-4">
      <div class="row">
        <div class="col-lg-8">
          <section class="videos mb-4">
            <% if @video.video.attached? %>
              <div class="ratio ratio-16x9">
                <%= video_tag url_for(@video.video), width: 720, controls: true, id: "video-player" %>
              </div>
            <% end %>
          </section>
        </div>
        <div class="col-lg-4">
          <section class="notes" data-id="<%= dom_id(@video) %>">
            <h4>My Notes</h4>

            <% if @video.notes(current_user).empty? %>
              <p>You have no notes for this video.</p>
            <% end %>

            <%= render "videos/video_notes" %>
          </section>
          </div>
        </div>
    </figure>

    <section class="mb-4">
        <%= @video.content %>
    </section>
  </article>
</div>