<% provide(:title, @video_note.video.title) %>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <%= link_to "back", videos_path %>

      <h3 class="center"><%= @video_note.video.title %></h3>
    </div>
    <div class="col-md-6">
      <section class="notes">
        <h4>Edit note</h4>

        <%= form_for(@video_note) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.hidden_field :video_id, value: @video_note.video.id %>

          <div class="field">
            <%= f.text_area :note, placeholder: "Edit ..." %>
          </div>
          <%= f.submit "Update note", class: "btn btn-primary" %>
        <% end %>
      </section>
    </div>
  </div>
</div>