<% provide(:title, @video_note.video.title) %>

<%= turbo_frame_tag dom_id(@video_note) do %>
  <span id="t" style="display:none"><%= dom_id(@video_note) %></span>
  <%= form_for(@video_note, data: { video_note_id: dom_id(@video_note) }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :video_id, value: @video_note.video.id %>

    <div class="field">
      <%= f.text_area :note, placeholder: "Edit ..." %>
    </div>

    <div class="text-center">
      <%= f.submit "Update note", class: "btn btn-primary" %>

      <%= link_to "Cancel", video_path(@video_note.video), class: "btn btn-light", style: "text-decoration: underline", data: { turbo: true } %>
    </div>
  <% end %>
<% end %>